---
title:David Jones CV
bodyClass:cv
layout:layout-cv.hbs
---
<!-- modified from http://oli.zilla.org.uk/lab/a4/ -->
<style type="text/css" media="screen">          /* media="screen" prevents these rules from being applied when printing, you proabably don't want to print faux-page styles onto a real A4 page */
body {
	margin:  0;
	padding: 0 10px;
	background-color: whitesmoke;
	text-align: center;                     /* This kicks IE into displaying the page in the centrally. The page is a block element, so it shouldn't, but it does. */
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

.page {
	margin:20px auto;                       /* Giving the block a width and using a margin of auto is the correct way to make it center aligned */
	border:solid 1px lightgrey;
	padding:1.5em 2.5em 2em;
	max-width: 50em;

	min-height: 50em;                   /* min-height is a bit contentious, probably wont work on IE, but if you _really_ want an A4-ish look then fill your boots.*/

	color:#444;
	background-color: white;

	text-align:left;                      /* This only affects text _inside_ the page, so you proabably want text-align:left here */
	font-size: 1em;

	-moz-box-shadow: 3px 3px 6px rgba(0,0,0,0.2);       /* Gratuitous drop shadow, won't show up in IE < 9 */
	-webkit-box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
	box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
}

h1 {
	font-size: 3em;
	font-weight: normal;
}
h1 a:hover{
	color:#222;
}
h2{
	letter-spacing: 1px;
	margin: 1.4em 0 0.2em;
}
p{
	margin: 0 0 1em;
	font-size: 0.9em;
	letter-spacing: 0.5px;
}
.when {
	font-size: 0.7em;
	font-weight: 300;
	letter-spacing: normal;
}
a{
	color: #911;
}
a:hover{
	color:red;
}
.title{
	font-weight: bold;
}
</style>
<div class="page">
	<h1><a href="../">David Jones</a></h1>
	<h2>
		Artist assistant
		<span class="when">Dec 2010 - Spring 2019</span>
	</h2>
	<p>Working alongside Mike planning, detailing and constructing the interiors of his installation, working from sketches, books and photographs.
	</p>

	<p>
		<span class="title">L’Atteso</span>,
		Mike Nelson, OGR, Turin
	</p>
	<p>
		<span class="title">Mirror reverb (the blinding of a building, a notation for another)</span>,
		Mike Nelson, Gwangju Bienalle
	</p>
	<p>
		<span class="title">Cloak</span>,
		Mike Nelson, Nouveau Musée De Monaco, Monaco
	</p>
	<p>
		<span class="title">Studio Apparatus for Palais de Tokyo or The Exorcism</span>,
		Mike Nelson, Palais de Tokyo, Paris.
	</p>
	<p>
		<a class="title" href="http://www.tramway.org/events/Pages/Mike-Nelson.aspx">Eighty Circles through Canada</a>, Mike Nelson, Tramway, Glasgow.
	</p>
	<p>
		<a class="title" href="http://www.whitechapelgallery.org/exhibitions/mike-nelson-selects-v-c-collection/">Again more things (a table ruin)</a>, Mike Nelson, Whitechapel Gallery, London.
	</p>
	<p>
		<span class="title">Space that saw (platform for a performance in two parts)</span>,
		Mike Nelson, Neugerriemschneider, Berlin.
	</p>
	<p>
		<span class="title">408 tons of imperfect geometry</span>,
		Mike Nelson, Malmö Konsthall, Sweden. <a href="http://www.konsthall.malmo.se/o.o.i.s?id=5236&template=../objects/Earlier_exhibits/exhibits.t&exhibit=5236&pop=yes">konsthall.malmo.se</a>.
	</p>
	<p>
		<span class="title">After Kerouac</span>,
		Mike Nelson, Art/43/Basel.
	</p>
	<p>
		<span class="title">I, Impostor</span>,
		Mike Nelson, British Pavilion, Venice. <a href="http://venicebiennale.britishcouncil.org/timeline/2011/">venicebiennale.britishcouncil.org</a>
	</p>


	<p>
		<a class="title" href="https://www.camdenartscentre.org/whats-on/view/exh11#2">
			A Studio Apparatus
		</a>, Mike Nelson, Camden Arts Centre, London.
	</p>

	<h2>
		Design/fabricate
		<span class="when">Nov 2018 - Jan 2019</span>
	</h2>
	<p>
		<a class="title" href="../make-make-coffee">Make Make Coffee</a>, Haggerston.
		<br>
		Taking inspiration from Atelier van Lieshout to design and make (from scratch) a bespoke coffee cart for Make Make Coffee’s pitch outside Haggerston Station.
	</p>

	<h2>
		Artists fabricator/designer
		<span class="when">September 2014</span>
	</h2>
	<p>
		<a class="title" href="../equine-wig-stand">The Eros of Understanding</a>, Rose English, Kunsthal Charlottenborg, Copenhagen.
		<br>
		Working with Rose to create bespoke stands on which she could display articles from her archive.
	</p>

	<h2>
		Exhibition manufacture
		<span class="when">February 2014</span>
	</h2>
	<p>
		<a class="title" href="../pull-out-all-the-stops">Pull out all the stops</a>, Manalo &amp; White, Southbank Centre, Royal Festival Hall, London.
		<br>
		Working with M&amp;W to refine designs and manufacture the exhibition which was housed in the Clore Ballroom.
	</p>

	<h2>
		Gallery Interior, build and fit
		<span class="when">September 2013</span>
	</h2>
	<p>
		<a class="title" href="../artworks-mk">Artworks MK</a>, Manalo &amp; White, Milton Keynes.
		<br>
		Working with the designers and client to renovate the gallery space.
	</p>

	<h2>
		Cabinet maker and fabrication manager
		<span class="when">Feb - April 2012</span>
	</h2>
	<p>
		<a class="title" href="http://www.simonehandbagmuseum.co.kr/">Simone Handbag Museum</a>,
		South Korea. Judith Clark/MDM Props, London.
		<br>Prototyping initial designs into a working model then putting together a team to lead in the fabrication of the interior for the historical gallery which consisted of highly detailed oak cabinets.
	</p>

	<h2>
		Project coordinator
		<span class="when">April-May 2010</span>
	</h2>
	<p>
		<a class="title" href="http://www.vam.ac.uk/blog/11-architects-build-small-spaces/terunobu-fujimori-offsite-construction">Beetle House</a>,
		Terunobu Fujimori, V&amp;A Museum, London.
		<br>Constructing the house alongside Professor Fujimori and aiding his team of helpers which included teaching RCA students. Communicating with the museum to install a challenging exhibition within in a very delicate space.
	</p>

	<h2>
		Cabinet maker
		<span class="when">March 2010</span>
	</h2>
	<p>
		<a class="title" href="http://www.artangel.org.uk/projects/2010/the_concise_dictionary_of_dress/slideshow_the_installations/armoured">The Concise Dictionary of Dress</a>,
		Blythe House, V&amp;A Museum. Judith Clark/MDM Props.
		<br>Making a bespoke tapering laticed cabinet for one of the exhibits in the exhibition.
	</p>

	<h2>
		Design and project manager
		<span class="when">Oct/Nov 2009</span>
	</h2>
	<p>
		<a href="http://london.doverstreetmarket.com/" class="title">Dover Street Market</a>, London.
		<br>Working with head fashion designer Phoebe Philo and the visual director at Celine to create a unique concession at Dover St Market.
	</p>

	<h2>
		Design and production
		<span class="when">July 2009</span>
	</h2>
	<p>
		<a class="title" href="../hampton-court">Edible Spaces</a>, Matt Biggs, Hampton Court Flower Show, London.
		<br>Creating a unique 3 dimensional trellis to support the vine within Matt’s garden.
	</p>

	<h2>
		Carpenter
		<span class="when">May 2009</span>
	</h2>
	<p>
		<a class="title" href="http://www.richardwilsonsculptor.com/projects/shack%20stack.html">Shack Stack</a>, Grosvenor Waterside Sculpture Richard Wilson/MDM, London.
		<br>Fabricating the timber moulds for aluminium casting from a scale model and artists instruction.
	</p>

	<h2>
		Carpenter and mentor
		<span class="when">March/April 2009</span>
	</h2>
	<p>
		<a class="title" href="http://www.asf-uk.org/the-key-chelsea-flower-show-london-uk-2009">The Key</a>, ASF/Eden Project, Chelsea Flower Show, London.
		<br>Working alongside ASF facilitating a series of carpentry/design workshops within Government re-training schemes in Luton and Norwich to create elements for the garden at Chelsea.
	</p>

	<h2>
		Carpenter
		<span class="when">Jan/Feb, May/June 2009 & April 2018</span>
	</h2>
	<p>
		<a class="title" href="http://www.simparch.org/silvas-capitalis-forest-head/">Silvas Capitalis</a>, Simparch, Kielder Forest, Northumberland.
		<br>Working with Simparch creating new sculpture/installation in the heart of the forest, returning in 2018 to create two additional ear listening spaces within the head.
	</p>

	<h2>
		Project manager
		<span class="when">June-Sept 2008</span>
	</h2>
	<p>
		<a class="title" href="http://www.dezeen.com/2008/07/14/the-house-of-viktor-rolf/">The House of Victor &amp; Rolf</a>, Barbican, London.
		<br>Running the installation of a complex project. The central piece being: a three storey dolls house, six meters high and 18 meters long. Finished to very high specifications within a short time frame. Dismantling the house carefully for transportation to other venues.
	</p>

	<h2>
		Carpenter
		<span class="when">Sept-Oct 2008</span>
	</h2>
	<p>
		<a class="title" href="http://www.simparch.org/drum-n-basin/">drum &amp; basin</a>, Simparch, A foundation, Liverpool.
		<br>Working alongside Simparch facilitating the skate/sculpture installation of a kidney shaped bowl and full pipe.
	</p>

	<h2>
		Project manager
		<span class="when">May 2007</span>
	</h2>
	<p>
		<a class="title" href="http://www.artvehicle.com/events/108">Forest Rising</a>,  Marjetica Potrč, Barbican, London.
		<br>Running a challenging installation safely, ahead of schedule and under budget.
	</p>

	<h2>
		Project manager
		<span class="when">Oct 2006</span>
	</h2>
	<p>
		<a class="title" href="http://www.culture24.org.uk/art/live-and-public-art/art40941">At First Light</a>,  James Turrell, Louise T Blouin Institute, London.
		<br>Directing a team of 15 and managing the installation of site specific artworks within a short time schedule and during building construction. Working directly with James Turrell’s studio completing work to high standards.
	</p>

	<h2>
		Shortlisted
		<span class="when">Apr 2006</span>
	</h2>
	<p>
		Collaborating with Stephen Beasley as SBDJ were shortlisted to the last three for Wycombe Town Centre commission for street furniture and seating.
	</p>

	<h2>
		Carpenter
		<span class="when">Jan-July 2006</span>
	</h2>
	<p>
		Fabricating sculptures for Keith Tyson installation <a href="http://arts.brighton.ac.uk/staff/keith-tyson/large-field-array">Large Field Array</a>, Louisiana, Denmark.
	</p>

	<h2>
		Project manager and builder
		<span class="when">Apr-Aug 2005</span>
	</h2>
	<p>
		<span class="title">Timber frame home</span>, Bewdley, West Midlands,
		<br/>Creating a unique home within extremely regulated planning restrictions, utilising detailing and design knowledge during construction.
	</p>

	<h2>
		Designer and project manager
		<span class="when">May-June 2004</span>
	</h2>
	<p>
		<span class="title">Roadshow</span> - Touring arts &amp; music festival. Grizedale Arts, Grizedale; Ikon Gallery and Licky Hills, Birmingham; Real Institute, Wales.
		<br/>Responsible for organisation and installation/construction of <a href="http://www.flatpack001.org/index.php?/projects/ideath/">iDEATH</a> marquee at each venue.
		Publication available on request.
	</p>
</div>
<div class="page">
	<h1>Voluntary work</h1>

	<h2>
		Project coordinator and mentor
		<span class="when">2005 to 2010</span>
	</h2>
	<p>
		<span class="title">Lignum Project</span>, Jamaica.
		<br/>Teaching young people carpentry skills in remote areas for a charity, the aim of which is to aid and equip them with skills to find future employment.
	</p>

	<h1>Exhibitions</h1>

	<h2>General Practice
		<span class="when">Oct 2012</span>
	</h2>

	<p>Woodmill GP, London
		<br/>Light exhibited alongside <a href="http://abyme.org.uk/">Frances Scott’s</a> work in her open studio show.
	</p>

	<h2>Sudden White (after London)
		<span class="when">Dec 2008</span>
	</h2>
	<p>GSK Contempory, Royal Academy of Arts.
		<br/>Ottoman furniture selected by curator Mark Beasley.
	</p>

	<h2>Fragile Seams:Life on the Edge
		<span class="when">Mar 2007</span>
	</h2>
	<p>Exhibition interior for <a href="http://www.asf-uk.org/fragile-seams-exhibition-and-talk-series-london-uk-2007">Architecture Sans Frontières</a> UK, Florence Hall, RIBA, Londo.
	</p>

	<h2>3-Way-Rithm
		<span class="when">May 2006</span>
	</h2>
	<p><span class="title">Muster Station</span> group show, Rockwell Gallery, London.
		<br/>Two B1 screen prints (editions of 8) and large 3D scale model.
	</p>

	<h2>Substance Destroyed
		<span class="when">Nov 2005</span>
	</h2>
	<p><span class="title">The Prop Makers</span> group show, MOT Gallery, London.
		<br/>Based on designs by Ben Kelly for Steve Jones’ (Sex Pistols) bedroom.
		In collaboration with Stephen Beasley.
	</p>

	<h2>Hey, Hey Glossolalia: Puff, Puff &amp; Hatchet (Volume 1)
		<span class="when">Oct 2005</span>
	</h2>
	<p>
		<a href="http://www.stanleypickergallery.org/exhibitions/mark-beasley-2/">Stanley Picker Gallery</a>, Kingston University, London.
		<br/>Exhibition design in collaboration with architect Stephen Beasley. For artist/curator Mark Beasley (Stanley Picker Research Fellow in Fine Art). Publication available on request.
	</p>

	<h2>Plazasuite
		<span class="when">Aug 2004</span>
	</h2>
	<p>
		Union Gallery, London.
		<br/>Scale model of iDEATH structure for Flatpack001.
	</p>

	<h2>Roadshow
		<span class="when">Sep 2003</span>
	</h2>
	<p>
		A Grizedale Arts Touring Show, Duncan of Jordanstone, Dundee.
		<br/>Scale model of iDEATH structure for Flatpack001.
	</p>

	<h1>Education</h1>
	<h2>Three Dimensional Design/Furniture BA(hons)
		<span class="when">1996 - 1999</span>
	</h2>
	<p>
		Loughborough University School of Art &amp; Design.
	</p>
</div>
