---
title: Pull out all the stops
bodyClass: pull-out-all-the-stops
---
<h1>
	<a title="☜ Back to the top" href="../">{{title}}</a>
</h1>
<div class="strapline">Manalo &amp; White, Royal Festival Hall, London</div>
<p>
  I worked alongside Manalo &amp; White to manufacture the display cabinets, furniture and central video/sound booth for the exhibition celebrating pipe organs and the re-building of the Royal Festival Hall Organ which was shown in the Clore ballroom in Spring 2014.
</p>
<p>
  Having built up a strong working relationship with M&amp;W we worked together detailing and refining the units in the early stages of production, creating units which required minimal assembley on site and were not dwarfed by the size of the Clore ballroom.
</p>
<p>
  <img src="m-w-pipes-v2-6927.q80.jpg" alt="" />
</p>
