---
title: Artworks MK
bodyClass: artworks-mk
---
<h1>
	<a title="☜ Back to the top" href="../">{{title}}</a>
</h1>
<div class="strapline">Manalo &amp; White, Artworks MK, Milton Keynes</div>
<p>
  I was approached by M&amp;W to create the interior for Artworks MK which they had designed but due to cost restrictions were not project managing. I created several modular wall panels which were laminated with forbo pinboard which fitted within a timber frame.The gallery building is listed so there were to be no fixings into the original stone walls, so we created wooden dowels which fitted into the brickwork which lined the tops of the walls and fixed discrete bespoke metal plates between the dowels and our structure.
</p>
<p>
  The local woodturners group created over 50 small legs which were fitted to the frames to raise them off the floor.
</p>
<p>
  <img src="mkac-7177.1600.q80.jpg" alt="" />
</p>
<p>
	<img src="mkac-7165.1600.q80.jpg" alt="" />
</p>
<p>
	<img src="mkac-7143.1600.q80.jpg" alt="" />
</p>
<p>
	<img src="mkac-7190.1600.q80.jpg" alt="" />
</p>
