---
title: J Dilla
bodyClass: j-dilla
---

<h1>
	<a title="☜ Back to the top" href="../">{{title}}</a>
</h1>
<div class="strapline">Last Donut Of The Night</div>
<p>
	
</p>
<iframe width="853" height="480" src="http://www.youtube.com/embed/fC3Cthm0HFU" frameborder="0" allowfullscreen autoplay></iframe>