---
title: Blythe House
bodyClass: blythe-house
---
<h1>
	<a title="☜ Back to the top" href="../">{{title}}</a>
</h1>
<div class="strapline">The Concise Dictionary of Dress, Blythe House, V&amp;A Museum. Judith Clark/MDM Props</div>
<p>
	This cabinet was built to fit within an old water-tank cupboard space in Blythe House. It housed two small sculptures and a pair of gloves which had a latticed pattern that was repeated on all sides of the cabinet using some intricate latticed joinery to create a diminishing perspective made on tapering panels. Each diamond space was to suggest a drawer, three which were to be opened leaving a compound box housing the exhibits.
</p>
<img src="Measured-7.jpg">
<img src="Measured-5.jpg">
<img src="Measured-1.jpg">