---
title: Equine wig stand
bodyClass: equine-wig-stand
---
<h1>
	<a title="☜ Back to the top" href="../">{{title}}</a>
</h1>
<div class="strapline">Rose English, An Eros of Understanding, Kunsthal Charlotenborg</div>
<p>
  I was introduced to Rose during the summer of 2014 to help her find a way of displaying two equine wigs: the mane and tail of a horse which she had used in a performance in the 70's for her retrospective in Copenhagen. After meeting her and researching equine storage and display products we decided on a wooden spine. The spine was made from laminated timber planks, with subtle hidden fixings for the wigs and small movable wooden hammer shaped dowels within the neck to help create the fall of the mane.
</p>
<p>
  <img src="rose-english-the-eros-of-understanding-installation-view-kunsthal-charlottenborg-2014.jpg" alt="" />
</p>
<p>
  <img src="credits-rose-english-the-eros-of-understanding-installation-views-kunsthal-charlottenborg-photographer-anders-sune-berg.q80.jpg" alt="" />
</p>
