---
title: Jones
bodyClass: home
---
<h1>{{title}}</h1>
<div class="navbar">
	<div class="box">
		<div class="clearfix">
			<a class="issue" href="/cv" title="The life and works of David Jones">Issue #1</a>
			<a class="blog" title="Shots from the workshop" href="http://davidlljones.tumblr.com">Le Systeme D</a>
			<a class="contact" href="mailto:davidlljones@hotmail.com">Contact</a>
		</div>
	</div>
</div>
<div class="container">
	<div class="job">
		<a href="simone-handbag-museum">
			<img title="Simone Handbag Museum" src="simone-handbag-museum/SHM_HistoricalGallery-1.jpg">
		</a>
	</div>
	<div class="job">
		<a href="hampton-court">
			<img title="Edible Spaces" src="hampton-court/main.jpg">
		</a>
	</div>
	<div class="job">
		<a href="fujimori">
			<img title="Beetle House" src="fujimori/photo.jpg">
		</a>
	</div>
	<div class="job">
		<a href="blythe-house">
			<img title="Blythe House" style="margin:-34% 0 0 -101%" src="blythe-house/Measured-7.jpg">
		</a>
	</div>
	<div class="job">
		<a href="pauline-house">
			<img title="Pauline House" style="width: 180%; margin:-0 0 0 -11%" src="pauline-house/pauline-house-1.jpg">
		</a>
	</div>
	<div class="job">
		<a href="lamp-mk1">
			<img title="Prototype Lamp mk I" style="width: 270%; margin:-75% 0% 0 -163%;" src="lamp-mk1/lamp-1.jpg">
		</a>
	</div>
</div>
