---
title: Jones
bodyClass: home
---
<h1>{{title}}</h1>
<div class="navbar">
	<div class="box">
		<div class="clearfix">
			<a class="link issue" href="cv" title="The life and works of David Jones">CV</a>
			<span class="link hide-md"></span>
			<a class="link contact" href="mailto:davidlljones@hotmail.com">Contact</a>
		</div>
	</div>
</div>
<div class="container">
	<div class="job">
		<a href="6-horton-street">
			<img title="6 Horton Street" src="6-horton-street/horton-street-1.jpg" alt="" />
		</a>
	</div>
	<div class="job">
		<a href="make-make-coffee">
			<img title="Make Make Coffee" src="make-make-coffee/make-make-coffee-1.jpg" alt="" />
		</a>
	</div>
	<div class="job">
		<a href="st-stephens-road">
			<img title="St Stephens Road" src="st-stephens-road/st-stephens-road-1.jpg" alt="" />
		</a>
	</div>
	<div class="job">
		<a href="equine-wig-stand">
			<img title="Equine wig stand" src="equine-wig-stand/rose-english-the-eros-of-understanding-installation-view-kunsthal-charlottenborg-2014.jpg" alt="" />
		</a>
	</div>
	<div class="job">
		<a href="artworks-mk">
			<img title="Artworks MK" src="artworks-mk/mkac-7177.1600.q80.jpg">
		</a>
	</div>
	<div class="job">
		<a href="pull-out-all-the-stops">
			<img title="Pull out all the stops" src="pull-out-all-the-stops/m-w-pipes-v2-6927.1600.q80.jpg">
		</a>
	</div>
	<div class="job">
		<a href="simone-handbag-museum">
			<img title="Simone Handbag Museum" src="simone-handbag-museum/SHM_HistoricalGallery-1.jpg">
		</a>
	</div>
	<div class="job">
		<a href="hampton-court">
			<img title="Edible Spaces" src="hampton-court/main.jpg">
		</a>
	</div>
	<div class="job">
		<a href="fujimori">
			<img title="Beetle House" src="fujimori/photo.jpg">
		</a>
	</div>
	<div class="job">
		<a href="blythe-house">
			<img title="Blythe House" style="margin:-34% 0 0 -101%" src="blythe-house/Measured-7.jpg">
		</a>
	</div>
	<div class="job">
		<a href="pauline-house">
			<img title="Pauline House" style="width: 180%; margin:-0 0 0 -11%" src="pauline-house/pauline-house-1.jpg">
		</a>
	</div>
	<div class="job">
		<a href="lamp-mk1">
			<img title="Prototype Lamp mk I" style="width: 270%; margin:-75% 0% 0 -163%;" src="lamp-mk1/lamp-1.jpg">
		</a>
	</div>
</div>
