---
title: Edible Spaces 
bodyClass: edible-spaces
---
<h1>
	<a title="☜ Back to the top" href="../">{{title}}</a>
</h1>
<div class="strapline">Matt Biggs, Hampton Court Flower Show, London</div>
<p>
Matt asked me if I would be interested in building a trellis to support the vine which was to located next to the doorway on a side wall.
I took a very recognisable pattern and made it three dimensional, adding colour to highlight each plane. Once on the wall and with the vine in place the shadows intensified the already unique structure.
</p>
<img src="main.jpg">
<img src="phone-019.jpg">
<img src="phone-024.jpg">
