---
title: Pauline House
bodyClass: pauline-house
---
<h1>
	<a title="☜ Back to the top" href="../">{{title}}</a>
</h1>
<div class="strapline">&nbsp;</div>
<p></p>
<img src="pauline-house-15.jpg">
<img src="pauline-house-22.jpg">