<h1>
	<a title="☜ Back to the top" href="../">Beetle House</a>
</h1>
<div class="strapline">Terunobu Fujimori, V&amp;A Museum, London</div>
<p>
	Producing the structural frame of the house and the window joinery alongside Professor Fujimori and detailing ammendments, then aiding his team of helpers alongside teaching a numerous number of RCA students who chose to come along During the installation there was a great deal of communication with the museum to install a challenging exhibition within in a very delicate space.
</p>
<img src="photo.jpg"/>
<img src="photo2.jpg"/>
<img src="photo6.jpg"/>
<img src="photo8.jpg"/>
<img src="photo10.jpg"/>