@import 'normalize';
@import 'base';
@import 'font/familiar-pro/stylesheet.css';

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	background: whitesmoke;
	text-align: center;
	padding: 0;
	color:#444;
}
h1{
	font-family: FamiliarProBold, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	margin:0;
	color: rgb(135, 189, 116);
	font-size: 3.5em;
	line-height: 100%;
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
	letter-spacing: 0.1em;
	padding:14px 0 2px;
}
h1 a{
	text-decoration: none;
	color: inherit;
}
a{
	text-decoration: none;
	color: #555;
}
a:hover{
	color: #222;
}
img {
	width:800px;
	max-width:100%;
	margin:0px;
	opacity: 0.9;
}
dl {
	text-align: left;
}
dt {
	min-width: 145px;
}
dd {
	margin-left: 8px;
}
dt, dd {
	display: inline-block;
}
p, .p {
	max-width: 800px;
	width:90%;
	margin: 22px auto 22px;
	padding: 0;
	text-align: left;
	line-height: 1.8
}
.navbar,
.strapline {
	border: solid 3px #ddd;
	border-left: none;
	border-right: none;
	font-weight: bold;
	max-width: none;
	padding: 2px 0;
	margin: 14px 0 0;
	letter-spacing: 1px;
}
.navbar a,
.strapline p{
	margin:0 3px;
	border:0;
	padding:3px 0px;
}
.navbar .box{
	max-width: 300px;
	text-align: center;
	margin:0 auto;
}
.navbar .link{
	display: inline-block;
	width:300px;
	text-align: center;
}
.job{
	margin:8px 6px;
	padding:0;
	width: 300px;
	height: 300px;
	text-align: center;
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	border:0 none;
}
.job img{
	margin:-20% 0 0 -50%;
	border: 0 none;
	width: 200%;
	max-width: none;
	height:auto;
}
body.home .container{
	max-width: 970px;
	margin: 18px auto;
}

@media (min-width: 630px) and (max-width: 944px) {
	.hide-md {
		display: none !important;
	}
}

@media only screen and (min-width: 630px) {
	h1{
		font-size: 5.4em;
		padding: 10px 0 0 30px;
	}
	.navbar .box{
		max-width: 630px;
	}
	.navbar a,
	.strapline p{
	}
}

@media only screen and (min-width: 945px) {
	.navbar .box{
		max-width: 930px;
	}
	.navbar .issue{
		display: inline-block;
	}
	.job img{
		opacity: 0.75;
		vertical-align:top;
		-webkit-transition: all 1s ease-out;
		   -moz-transition: all 1s ease-out;
		    -ms-transition: all 1s ease-out;
		     -o-transition: all 1s ease-out;
		        transition: all 1s ease-out;
	}
	.job img:hover{
		opacity: 0.95;
	}

}
