---
title: Lamp mk I
bodyClass: lamp-mk1
---
<h1>
	<a title="☜ Back to the top" href="../">{{title}}</a>
</h1>
<div class="strapline">Woodmill GP, open studio, London</div>
<p>Prototype lamp shown along side France Scott's work for open studio show.
</p>
<p>
	<img src="lamp-1.jpg">	
</p>